<%= render "users/shared/form_container/start", form_title: 'Forgot your password?' %>
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="field mb-3">
    <%= f.label :email, class: "form-label" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
  </div>
  <div class="actions mb-3">
    <%= f.submit "Send me reset password instructions", class: 'btn btn-primary' %>
  </div>
<% end %>
<%= render "users/shared/links" %>
<%= render "users/shared/form_container/end" %>
